@model MovieApp.Web.Models.Genre

<form id="createForm">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" id="Name" />
    </div>

    <button type="button" onclick="submitForm()">Create</button>
</form>

@section Scripts {
    <script src="~/scripts/Movies/CreateMovie.js"></script>
}